:deep(.el-page-header .el-page-header__title) {
    display: none;
}

:deep(.el-divider--vertical) {
    display: none;
}

:deep(.el-page-header__icon) {
    margin-right: 18px;
}

.file-detail {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.file-detail-header {
    background-color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
    width: 100%;
}
.file-detail-header-left {
    display: flex;
    align-items: center;
}
.file-detail-header-title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    margin-right: 16px;
}

.el-button.is-plain {
    --el-button-hover-text-color: #de3a05;
    --el-button-hover-border-color: #de3a05;
}

.file-detail-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 55px);
}
.file-detail-content-right {
    width: 21.1%;
    background-color: #fff;
    height: 100%;
    padding: 17px 24px 0;
    border-top: 1px solid rgba(230, 231, 234, 1);
    box-sizing: border-box;
}

/* 修改选中标签的文字颜色和背景颜色 */
:deep(.el-tabs__item.is-active) {
    color: #de3a05; /* 修改选中标签的文字颜色 */
    background-color: transparent; /* 保持背景透明，或者可以选择其他颜色 */
    border-color: #de3a05; /* 修改边框颜色（如果有） */
}

/* 修改选项卡下划线颜色（如果存在） */
:deep(.el-tabs__active-bar) {
    background-color: #de3a05; /* 修改选中状态下的下划线颜色 */
}

/* 可选：悬停时修改文字颜色 */
:deep(.el-tabs__item:hover) {
    color: #de3a05; /* 悬停时的颜色 */
}

:deep(.el-tabs__item) {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 500;
}

:deep(.summarize .el-button) {
    border: 0;
    padding: 0 !important;
}
